:root {
  --color-blue-medium: #8fe2e4;
  --color-purple: #632ce7;
  --color-gray: #ccc;
  --color-gray-medium: #f8f9fa;
  --color-yellow: #fac32c;
}
/*-----General Style*/

/*-----Sections-----*/
.container > .row {
  margin-bottom: 3em;
}
/*-----> nav*/
.navbar-brand > img {
  width: 35px;
}
.navbar-brand1 > img{
  width: 70px;
}
.navbar-main .active {
  text-decoration: underline wavy var(--color-purple);
  text-underline-offset: 9px;
}

/*-----Social Networks-----*/
.icon {
  --sizeIcon: 25px;
  width: var(--sizeIcon);
  height: var(--sizeIcon);
}
.icons-social-networks > a {
  text-decoration: none;
  
}


.icons-social-networks > a:hover,
.sec-cliente > a:hover{
  transition: .5s;  
}
.icons-social-networks > a:hover,
.sec-cliente > a:hover{
  filter: opacity(0.5);
}
/*-----Img header-----*/
.photo-frame {
  font-size: 20px;
}
.photo-frame::before, 
.photo-frame::after {
  content: "";
  display: block;
  width: var(--box-size);
  height: var(--box-size);
  position: absolute;
  z-index: -10;
  animation: turnZ 7s linear alternate-reverse infinite;
  
}
.photo-frame::before {
  --box-size: 3em;
  background-image: radial-gradient(var(--color-blue-medium) 50%, var(--color-purple) 50%);
  top: calc(99% - (var(--box-size)/2));
  right: calc(99% - (var(--box-size)/2));
}
.photo-frame::after {
  --box-size: 5em;
  bottom: calc(98% - (var(--box-size)/2));
  left: calc(98% - (var(--box-size)/2));
  background: linear-gradient(45deg, var(--color-gray-medium) 45%, transparent 45%),radial-gradient(var(--color-purple) 30%, var(--color-yellow) 30% 70%, var(--color-gray-medium) 70%, transparent 70%) 
}
@keyframes turnZ {
  to {
    transform: rotate(1turn);
    
  }
}
.header-main {
  min-height: 100vh;
}

/*-----cards-----*/
.icon-service {
  --box-size: 70px;
  width: var(--box-size);
  height: var(--box-size);
  padding: 10px;
}
/*-----Porfolio-----*/
.porfolio-item > img {
  transition: 0.4s transform;
}
.porfolio-item:hover > img {
  transform: scale(0.96);
}

/*-----Clientes-----*/
.bg-purple {
  background: rgba(131 87 235 /0.3);
  filter: opacity(0.55
  );
}

/*-----queris-----*/

@media screen and (max-width: 426px) {
  body{
    margin-top: 4rem;
  }

  .header-main {
    min-height: initial;
  }

  .photo-frame {
    font-size: 11px;
  }
  
}